*.bin
*.o
*.d
*.hex
*.crf
*.bak
*.build_log*
*.orig
*.axf
*.dep
*Debug
*.log
*.config
jlink.log
jlink.config
*.atsuo
*build-Environment_IOT-Desktop_Qt_5_4_0_MinGW_32bit-Debug
*build-Environment_IOT-Desktop_Qt_5_4_0_MinGW_32bit-Release